<div class="row mb-3">
  <div class="col-6"></div>
  <div class="col-6">
    <form [formGroup]="form">
      <div class="form-group mb-0">
        <select class="form-control" name="state" formControlName="selected"
          (change)="changeState($event.target.value)">
          <option *ngFor="let state of statelist" [value]="state[0]">
            {{state[1]}}
          </option>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="bg-light-gray list-group-item text-white">
        <div class="row font-weight-bold text-center">
          <div class="col-1 col-sm-1">
            #
          </div>
          <div class="col-10 col-sm-3 text-left">
            Districts
          </div>
          <div class="col-3 col-sm-2">
            Confirmed
          </div>
          <div class="col-3 col-sm-2">
            Deceased
          </div>
          <div class="col-3 col-sm-2">
            Recovered
          </div>
          <div class="col-3 col-sm-2">
            Death
          </div>
        </div>
      </li>

      <li class="list-group-item table-list">
        <ul class="list-group">
          <li class="border-left-0 border-right-0 list-group-item" *ngFor="let data of tableData | orderBy: 'confirmed' : 1; let i = index">

            <div class="row text-right">
              <div class="col-1 col-sm-1 font-weight-bold text-center">
                {{i + 1}}
              </div>
              <div class="col-10 col-sm-3 text-left text-truncate">
                <span [title]="data.district">
                  {{data.district}}
                </span>
              </div>
              <div class="col-3 col-sm-2">
                {{data.confirmed | numberWithCommas}}
              </div>
              <div class="col-3 col-sm-2">
                {{data.deceased | numberWithCommas}}
              </div>
              <div class="col-3 col-sm-2">
                {{data.recovered | numberWithCommas}}
              </div>
              <div class="col-3 col-sm-2">
                {{data.deceased | numberWithCommas}}
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
